.works {
   background-color: lightseagreen;
   display: flex;

   
   .left {
      flex: 0.5;
      overflow: hidden;


      .imgContainer{
         padding-top: 20%;
         width: 600px;
         height: auto;
         display: flex;
         align-items: flex-end;
         justify-content: center;
         float: right;

         img{
            width: 100%;
         }
      }
   }


   .right {
      flex: 0.5;
      padding-top: 5%;
      position: relative;
      background-color: lightseagreen;


      .sectionOne {
         text-align: left;
         display: flex;
         flex-direction: column; 
         margin: 2rem;
         padding: 2rem;
         background-color: white;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }

      .sectionTwo {
         text-align: left;
         display: flex;
         flex-direction: column; 
         margin: 2rem;
         padding: 2rem;
         background-color: black;
         color: white;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
         
      }
   }



}

